<div>
  <!-- No data message -->
  <p *ngIf="Employee.length <= 0" class="no-data text-center">A lista por enquanto estar vazia, experimente adicionar um!</p>

  <!-- dev list -->
  <table class="table table-bordered" *ngIf="Employee.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">ID do programador</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Linkedin</th>
        <th scope="col">Contato</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Turno</th>
        <th scope="col">NodeJS</th>
        <th scope="col">Angular</th>
        <th scope="col">HTML</th>
        <th scope="col">CSS</th>
        <th scope="col">BD</th>
        <th scope="col center">Atualização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee; let i = index">
        <th scope="row">{{employee._id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.linkedin}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.state}}</td>
        <td>{{employee.shift}}</td>
        <td>{{employee.habilityNode}}</td>
        <td>{{employee.habilityAngular}}</td>
        <td>{{employee.habilityHTML}}</td>
        <td>{{employee.habilityCSS}}</td>
        <td>{{employee.habilityBD}}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-employee/', employee._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removeEmployee(employee, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>